html{
    scroll-behavior: smooth; 
}

*{
    top: 0;
    left: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Poppins', sans-serif;
    min-height: 3000px;
    /*   */
    background: linear-gradient(127deg, rgb(221 170 238 / 0%) 0%, rgb(211 166 232 / 68%) 17%, rgba(255,255,255,1) 72%);
}

header{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    z-index: 1;
    /* background: linear-gradient(90deg, rgba(191,159,211,1) 0%, rgba(193,165,211,1) 1%, rgba(196,172,212,1) 17%, rgba(255,255,255,1) 62%, rgba(183,143,209,1) 88%, rgba(186,150,210,1) 100%, rgba(192,162,211,1) 100%); */
    
}


header nav{
    display: inline-block;
    margin: auto;
}

header nav a{
    padding: 0 20px;
    color: #000;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}

.logo{
    width: 160px;
    margin: auto;
    margin-top: -10px;
}

/* .active{
    color: #fff;
    border: #fff solid 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    scale: 1.2;
}
     */


header nav a:hover{
    color: #b78fd1;
   
    scale: 1.2;
}

.menu-icon{
    
    font-size: 30px;
    color: #000;
    vertical-align: middle;
    display: none;
    cursor: pointer;
}

.menu-icon:hover{
    scale: 1.3;
    color: #b78fd1;
}

.close-icon{
    font-size: 30px;
    vertical-align: middle;
    display: none;
}

.fa-instagram{
    font-size: 30px;
    vertical-align: middle;
    padding: 0 10px;
    cursor: pointer;

}

.fa-instagram:hover{
    color: #b78fd1;
}

.social{
    margin: auto;
}

.idea{
    width: auto ;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    cursor: pointer;
}

.idea:hover{
    color: #b78fd1;
    
    
}

.container{
    margin-top: 100px;
}

@media (max-width:850px) {
    .logo{
        width:200px;
        margin: 10px auto;
    }
    .menu-icon{
        display: inline;
        margin: auto;
        
    }

    .navbar{
        position: absolute;
        top:10%;
        left: 0;
        width: 80%;
        margin: 10%;
        height: 38.1rem;
        background:rgba(0, 0, 0, 0.1);
        background-color: white;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
        animation: popup 0.7s;
        display: none;
    }
    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem;
        text-align: center;
        
    }
    .active{
        color: #b78fd1;
        border: none;
        scale: 1.2;
        box-shadow: none;
    }

    .logo{
        display: block;
        margin-left: auto;
        margin-right: -20px;
        width: 120px;
        transition: 0.5s ease-in;
    }
    .social{
        margin-right: auto;
        transition: 0.7s ease;
    }

    .container{
        flex-direction: column-reverse;
        margin: 50px auto;
    }

    
}

@media (max-width:480px) {
    .menu-icon{
        font-size: 20px;
    }
    .social{
        font-size: 10px;
    }
    .fa-instagram{
        font-size: 21px;
    }
    .text h2{
        font-size: 31px;
        transition: 0.3s ease;
    }

    .text p{
        font-size: 11px;
        transition: 0.3s ease;
    }
    
}

/* .image-section{
    background: linear-gradient(90deg, rgba(191,159,211,1) 0%, rgba(193,165,211,1) 1%, rgba(196,172,212,1) 17%, rgba(255,255,255,1) 62%, rgba(183,143,209,1) 88%, rgba(186,150,210,1) 100%, rgba(192,162,211,1) 100%);
    margin-top: -102px;
}


@media (max-width:850px) {
    .image-section{
        margin-top: -50px;
    }
} */

.image-section{
    
}

/* button nav*/
.button-nav{
    float: inline-end;
    margin-top: 26px;
    width: 300px;
    height: 60px;
    border: none;
    background-color: #b78fd1;
    padding-right: 100px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-top-left-radius:10px ;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}

.button-nav a{
    color: #fff;
    text-decoration: none;
}

.fa-map-location-dot{
    color: #fff;
}

@media (max-width:850px){
    .button-nav {
        float: none; /* Remove float */
        margin: 26px auto; /* Center the button horizontally */
        width: 50%; /* Adjust the width as needed */
        padding: 10px; /* Adjust padding as needed */
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 13px;
    }
    .fa-map-location-dot{
        margin-left: 20px;
        font-size: 31px;
    }
}

/*about us section*/
.content-section{
    /* background: linear-gradient(90deg, rgba(191,159,211,1) 0%, rgba(193,165,211,1) 1%, rgba(196,172,212,1) 17%, rgba(255,255,255,1) 62%, rgba(183,143,209,1) 88%, rgba(186,150,210,1) 100%, rgba(192,162,211,1) 100%); */
    padding:50px 10px 0 10px;  
    
}

.section-part{
    padding-bottom: 25px;
}

.section-part h2{
    color: #000;
}

.section-part p{
    color: #000;
}

.section-part2 h2{
    color: #b78fd1;
    /* -webkit-text-stroke: 0.5px black; Webkit browsers (Safari/Chrome) */
 
}

.section-part2 p{
    margin-bottom: 0rem;
}


/* wave and about us section */
.wave-section {
    position: relative;
    width: 100%;
    height: 100%; /* Adjust the height as needed */
    overflow: hidden; /* Hide any overflow from child elements */
    /* background: linear-gradient(90deg, rgba(191,159,211,1) 0%, rgba(193,165,211,1) 1%, rgba(196,172,212,1) 17%, rgba(255,255,255,1) 62%, rgba(183,143,209,1) 88%, rgba(186,150,210,1) 100%, rgba(192,162,211,1) 100%); */
    /* margin-bottom: -350px; */

}


.bottom-left-image {
    width: 100%;
    height: auto; /* Maintain the aspect ratio */
    display: block;
}

.top-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 450px; /* Adjust the width as needed for larger screens */
    height: auto; /* Maintain the aspect ratio */
    z-index: 1; /* Set a higher z-index to position it above the background image */
    

}


@media (min-width:1300px){
    .top-image{
        padding-top: 120px;
    }
}

@media (max-width: 850px) {
    .top-image {
        width: 40%; /* Adjust the width as needed for smaller screens */
        padding-top: 35px;
    }
    .bottom-left-image{
        height: 300px;  
    }
}

@media (max-width:450px) {
    .top-image{
        width: 54%;
        padding-top: 56px;
    }
    .bottom-left-image{
        height: 244px;
    }
}

/* accordion  */
/* Add this to your existing CSS */

.wrapper {
    width: 70%;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
    @media (max-width: 768px) {
      width: 70%;
      padding: 0 0.3rem;
    }
  }
  input[type='radio'] {
    display: none;
    &:checked + .item {
      .title {
        color: #fff;
        border-color: #b78fd1;
        background-color: #b78fd1;
        &:after {
          transform: rotate(180deg);
        }
      }
      .content {

        margin-top: 0.3rem;
        margin-bottom: 0.3rem;

        height: auto;
        opacity: 1;
        visibility: visible;
        transition: all 0.3s, opacity 0.7s;
      }
    }
  }
  .item {
    display: block;
    margin-bottom: 30px;
    margin-top: 26px;
 
  }
  .title {
    padding: 0.1rem 0.3rem;
    border-radius: 0.3rem;
    color: #b78fd1;
    border: 1px solid ;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
    /* color: #fff; */
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:after {
      content: '\25bc';
      display: inline-block;
      font-size: 12px;
    }
  }
  .content {
    width: 95%;
    margin: 0 auto;
    padding: 0 0.3rem;
    line-height: 1.6;
    color: #000;
    border: 1px solid;
    border-width: 0 1px;

    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s; 
  }


/* testimonial sections  */
.testimonials{
    background-color: #b78fd1;
    height: 300px;
}

.testimonials h1{
    color: #fff;
    text-align: center;
    font-size: medium;
    padding-top: 10px;
    font-weight: 600;
}







/* random section with udayipp design  */
.headers{
    position: absolute;
    top: 7%;
    left: 5%;
}

.products-something{
    
    font-size: 48px;
    color: #b78fd1;
    font-weight: 800;
    padding-bottom: 44px;
}

.tried-something{
    font-weight: 600;
    padding-bottom: 31px;
    font-size: 48px;
}

.introducing-somthing{
    font-weight: 600;
    padding-bottom: 31px;
    font-size: 48px;
}

.random-section{
    position: relative;
    height: 100%;
}

.right-side{
    z-index: 5;
    position: absolute;
    width: 50%;
    left: 50%;
    top: 7%;
}

.signature-img{
    width: 100%;
    z-index: 1;
}

.signature{
    position: absolute;
    width: 74%;
    /* padding-top: 369px; */
    z-index: 3;
    top: 25%;
    left: 4%;
}
@media (max-width:1440px) {
    .products-something{
        font-size: 40px;
    }
    .tried-something{
        font-size: 40px;
    }
    .introducing-somthing{
        font-size: 40px;
    }
}

@media (max-width:1180px) {
    .products-something{
        font-size: 34px;
    }
    .tried-something{
        font-size: 34px;
    }
    .introducing-somthing{
        font-size: 34px;
    }
    .signature{
        width: 71%;
        left: 8%;
    }
}

 @media (max-width:950px) {
    .products-something{
        font-size: 30px;
    }
    .tried-something{
        font-size: 30px;
    }
    .introducing-somthing{
        font-size: 30px;
    }
    .signature{
        width: 66%;
        left: 12%;
        top: 26%;
    }
}

@media (max-width:650px) {
    .products-something{
        font-size: 24px;
        padding-bottom: 11px;
    }
    .tried-something{
        font-size: 24px;
        padding-bottom: 20px;
    }
    .introducing-somthing{
        font-size: 24px;
    }
} 

@media (max-width:470px) {
    .products-something{
        font-size: 14px;
        padding-bottom: 10px;
    }
    .tried-something{
        font-size: 14px;
        padding-bottom: 14px;
    }
    .introducing-somthing{
        font-size: 14px;
    }
}
 
/* image carousel */
/* .auto-image-carousel {
    position: relative;
    overflow: hidden;
    margin-top: 1475px;
}

.top-left-image-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.top-left-image {
    width: 100px; 
    height: auto;
}

.image-carousel-container {
    overflow: hidden;
    margin-top: 54px;
    margin-left: 50px;
}

.image-carousel {
    display: flex;
    transition: transform 1s ease-in-out;
}

.carousel-image {
    width: 100%; 
    height: auto;
} */

.logo-something {
    position: relative;
    overflow: hidden;
}

.logo-something img {
    width: 35%;
    object-fit: cover;
    object-position: top left;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.image-grid img {
    width: calc(25% - 20px);
    margin-bottom: 20px;
    object-fit: contain;
    border-radius: 8px;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

.image-grid img:hover{
    filter:grayscale(0%)
}


/* image-gallery
 */

 .image-gallery {
    margin-top: 50px;
    padding: 5%;
}

.image-gallery h1 {
    font-family: 'Cedarville Cursive', cursive;
    color: #b78fd1;
    font-weight: 900;
    padding-left: 2%;
}

.image-gallery p {
    padding-left: 2%;
}

.image-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.image-container img {
    width: 30%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Optional: Add border-radius for rounded corners */
    transition: transform 0.3s; /* Smooth transition for the hover effect */
}

.image-container .image-stack {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.image-container .image-stack img {
    width: 100%; /* Full width of the container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Optional: Add border-radius for rounded corners */
    margin-top: 10px; /* Adjust margin as needed */
    padding-right: 14px;
    padding-left: 14px;
    transition: transform 0.3s; /* Smooth transition for the hover effect */
}

.image-container .image-stack img.middle-image {
    height: calc(100% + 10px); /* Set height of Image 3 to be the sum of Image 1 and Image 2 heights */
}

/* Hover effect */
.image-container img:hover,
.image-container .image-stack img:hover {
    transform: scale(1.1); /* Enlarge the image on hover */
}


/* faq */
.faq{
    
    height: 300px;
}

.faq h1{
    color: #000;
    text-align: center;
    font-size: medium;
    padding-top: 30px;
    font-weight: 600;
}

/*footer*/
footer img{
    width: 100%;
}

/* backtotop button  */
.back-to-top{
    z-index: 1000001;
    position: fixed;
    left: 90%;
    top: 90%;
    color: #fff;
    background-color: #bb9ecf;
    height: 35px;
    width: 35px;
    padding-left: 12px;
    padding-top: 5px;
    border-radius: 12%;
    cursor: pointer;
}

@media (max-width:550px) {
    .back-to-top{
        left: 85%;
    }
}
